@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    }
}

:root{
    --Moderate_violet: hsl(263, 55%, 52%);
    --Very_dark_grayish_blue: hsl(217, 19%, 35%);
    --Very_dark_blackish_blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --Light_gray: hsl(0, 0%, 81%);
    --Light_grayish_blue: hsl(210, 46%, 95%);
}

body{
    display: flex;
    align-items: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: var(--Light_grayish_blue);
}

/* the grid*/
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    padding: 0 10rem;
}

.container div:nth-child(5n+1){
    grid-area: 1 / 1 / 2 / 3;
}

.container .grid_container:nth-child(5n+1){
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 21rem 1rem;
    background-size: 8rem;
}

.container div:nth-child(5n+2){
    grid-area: 1 / 3 / 2 / 4;
}

.container div:nth-child(5n+3){
    grid-area: 2 / 1 / 3 / 2;
}

.container div:nth-child(5n+4){
    grid-area: 2 / 2 / 3 / 4;
}

.container div:nth-child(5n){
    grid-area: 1 / 4 / 3 / 5;
}

.grid_container{
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    color: var(--Light_grayish_blue);
    padding: 2rem;
}

.grid_container h1{
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    color: var(--Light_grayish_blue);
    font-weight: 600;
    margin-top: 1rem;
}

.grid_container p{
    font-size: 13px;
    color: hsla(210, 46%, 95%, 0.7);
    font-weight: 500;
    margin-top: 1rem;
    max-width: 72ch;
}

.name{
    display: flex;
    align-items: center;
}

.name div:nth-child(2n+1){
    border-radius: 100%;
    border: 2px solid var(--White);
    margin-right: 1rem;
}

.name div:nth-child(2n+1) img{
    border-radius: 100%;
}

.name div:nth-child(2n) h1{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0;
}

.name div:nth-child(2n) p{
    font-size: 13px;
    font-weight: 500;
    color: hsla(210, 46%, 95%, 0.5);
    margin-top: 0;
}

.container div:nth-child(5n+4) .name div:nth-child(2n+1){
    border: 2px solid var(--Moderate_violet);
}

.purple{
    background:var(--Moderate_violet);
}

.white{
    background: var(--White);
}

.grey{
    background: var(--Very_dark_grayish_blue);
}

.dark_grey{
    background: var(--Very_dark_blackish_blue);
}

.white h1{
    color: var(--Very_dark_blackish_blue);
}

.white p{
    color: hsla(219, 29%, 14%, 0.7);
}

.white div:nth-child(2n) p{
    color: hsla(219, 29%, 14%, 0.5);
}

@media (max-width:600px) {
    .container{
        display: block;
        padding: 0 2rem;
    }
    .grid_container{
        margin-top: 2rem;
    }

    .container .grid_container:nth-child(5n+1) {
        background-position: 14rem 0rem;
        background-size: 8rem;
    }
}